:root {
    --dark1: #050e24;
    --middle1: #203B5A;
    --dark2: #091b5e;

    --light1: #ddc25e;
    --light2: #bcf5f4;
    --superlight: #ffffff;

    --basic-font: 'Merriweather Sans'; 
    --header-font: 'Merienda' ;
  }
  
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0px;
    padding: 0px;
    font-family: var(--basic-font) ;
  }
  
  html {
    background: var(--dark1);
    background-attachment: fixed;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    z-index: 1;
    display: flex;
    align-items: center;
  }

  header p {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: var(--basic-font), Courier, monospace;
  }

  h1 {
    color: var(--superlight);
    font-size: 1.5vw;
  }


  main {
    margin: 0px auto 0px auto;
    min-height: 90vh;
    width: 100%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 15vh;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: -1em auto 0 auto;
    padding: 20px 10px;
    gap: 16px;
  }
  
  .block {
    display: block;
    width: 70%;
    padding: 2%;
    border-radius: 4px;
    min-height: 60px;
    text-decoration: none;
    color: var(--superlight);
    text-align: center;
  }

  .highlight {
    color: var(--light1);
  }

  .block a {
    color: var(--superlight);
    text-decoration: none;
  }

  .block a:hover {
    color: var(--light1);
    text-decoration: none;
  }

  div{
    display: flex;
    align-items: center;
    vertical-align: middle;
  }
    
  /* CONTACT SECTION */
  
  #contact {
    margin-top: 20px;
  }
  
  #profiles {
    display: flex;
    direction: row;
    height: 150px;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 1rem;
  }
  
  .fab, .fa {
    color: var(--superlight);
  }

  .fab:hover, .fa:hover {
    color: var(--light1);
  }

  #profiles .fab, #profiles .fa {
    font-size: 3rem;
  }

  
  /* FOOTER */
  
  footer > p {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: var(--basic-font), Courier, monospace;
}

  footer {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 20px;
    background-color: black;
    color: var(--superlight);
    width: 100%;
  }

  footer a {
    text-decoration: none;
    color: var(--light1);
  }
  
  footer a:hover, a:active {
    color: var(--superlight);
    font-weight: 800;
  }

  footer .fab, footer .fa {
    font-size: 25px;
    padding: 0 15px;
  }


  
  /* MEDIUM SCREENS */
  
  @media (max-width: 840px) {
    
    #project-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    
    #welcome-section {
      min-height: 50vh; 
      max-height: none;
    }

    h1 { font-size: calc(4vw + 8vh); }
    h2 { font-size: calc(3vw + 7vh); }
    
    .skills-grid {
        width: 80%;
    }
    
    #welcome-section p {
      font-size: calc(1vw + 1.2vh);
      }

  }
  
  
  /* SMALL SCREENS */
  
  @media (max-width: 540px) {

    main {
      margin: 120px auto 0px auto;
      min-height: 90vh;
      width: 100%;
      max-width: 540px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 15vh;
    }
  
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: -1em auto 0 auto;
    padding: 20px 10px;
    gap: 16px;
  }

  .recommendation {
    display: block;
    border: 2px solid #e0e0d4;
    width: 94%;
    padding: 2%;
    border-radius: 4px;
  }
  
    header { height: 120px; }
    h1 { font-size: calc(10px + 2vw + 4vh); }
    h2 { font-size: calc(10px + 1.5vw + 4vh); }
    
    #welcome-section {
      min-height: 30vh; 
      max-height: none;
      margin-top: 150px;
      padding: 0;}
      
    #welcome-section p {
    font-size: calc(1vw + 1.2vh);
    }

    nav {
      width: 100%;
    }
  
    nav > ul {
      margin: 0px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      gap: 5px;
      padding: 15px;
    }
  
    nav > ul > li {
      list-style: none;
      text-align: center;
      }
  
    #project-grid {
      grid-template-columns: repeat(1, 1fr);
    }

    #techstack {
    padding-left: 0px;
    padding-right: 0px;
      }
      
    .skills-grid {
        width: 95%;
        padding-left: 0px;
        padding-right: 0px;
        grid-template-columns: 100%;
        row-gap: 5px;
        column-gap: 25px;
    }

    #techstack p {
      font-size: 0.8rem;}
      
    #techstack ul {
        width: 95%;
    }

    #techstack li {
        font-size: 0.8rem;
      }

    footer > p {
      font-size: 3vw;
    }

  
  }
  
